@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap");
@import "./colors";
@import "./variables";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-style: normal;
  font-family: "Playfair Display", serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: $dark_text;

  &::placeholder {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    color: $placeholder;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}

/* --------------------------------------HEADER-------------------------------------- */
header {
  position: relative;
  .navbar {
    width: 100%;
    background: $white;
    z-index: 200;
    position: fixed;
    box-shadow: $nav_shadow;
    padding-right: 1rem;

    @media screen and (min-width: 576px) {
      padding: 0 1rem;
    }

    @media screen and (min-width: 1200px) {
      padding: 0 4rem;
    }
    @media screen and (min-width: 1400px) {
      padding: 0 6rem;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      @media screen and (min-width: 992px) {
        gap: 1.5rem;
      }

      @media screen and (min-width: 1200px) {
        gap: 2.5rem;
      }

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: $dark_text;

        &:hover {
          color: $primary;
          font-weight: 600;

          /* add animation on hover  */
        }
      }
    }

    &_inner {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .nav_logo {
        width: 10rem;
        height: 4rem;
        position: relative;
        inset: 0 -1.8rem;

        @media screen and (min-width: 992px) {
          width: 12rem;
          height: 6rem;
        }
        @media screen and (min-width: 1200px) {
          inset: 0 -2.4rem;
        }
      }
      .nav_btn {
        padding: 1rem 2rem;
        border: 1px solid $btn_bg;
        border-radius: 6rem;
        background: $white;
        font-weight: 700;
        font-size: 1.1rem;
        color: $btn_bg;
        &:hover {
          color: $white;
          background: $btn_bg;
        }
      }

      .menu_items,
      .nav_btn {
        display: none;
      }

      .toogle_btn {
        display: block;
        color: $black;
        font-size: 2rem;
        cursor: pointer;
        z-index: 100;
      }

      @media screen and (min-width: 992px) {
        .menu_items,
        .nav_btn {
          display: block;
        }

        .toogle_btn {
          display: none;
        }
      }
    }
  }

  /* DROPDOWN MENU */

  .dropdown_menu {
    position: absolute;
    top: 4.3rem;
    z-index: 10;
    border-radius: 1rem;
    padding: 1.54rem 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    backdrop-filter: blur(5px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1rem;
    overflow: hidden;
    right: -50rem;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    @media screen and (min-width: 576px) {
      width: 300px;
    }
    @media screen and (max-width: 992px) {
      position: fixed;
    }

    &.open {
      right: 0;
    }

    ul {
      text-align: center;
      display: grid;
      gap: 1rem;

      li {
        cursor: pointer;
        color: $dark_text;
        &:hover {
          color: $primary;
        }
      }
    }

    @media screen and (min-width: 992px) {
      display: none;
    }
  }
}

main {
  position: relative;
  margin-top: 4.5rem;
  @media screen and (min-width: 992px) {
    margin-top: 6rem;
  }
  .main_inner {
    /* -------------------------------------HERO SECTION------------------------------------- */

    .hero {
      &_sec {
        width: 100vw;
        min-height: 80vh;
        background: $white;
        @media screen and (min-width: 992px) {
          background: $hero_bg;
        }

        &_inner {
          display: grid;
          justify-content: center;
          text-align: center;
          align-items: center;
          margin: 2rem 0;
          gap: 2.5rem;

          @media screen and (min-width: 992px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: left;
            margin: 4rem 0;
          }
        }
      }

      &_left {
        &_header {
          font-size: 1.9rem;
          max-width: 38rem;

          @media (min-width: 400px) and (max-width: 425px) {
            font-size: 2rem;
          }

          @media screen and (min-width: 426px) and (max-width: 575px) {
            max-width: 35rem;
            font-size: 2.7rem;
          }
          @media screen and (min-width: 576px) {
            font-size: 3.2rem;
          }
          @media screen and (min-width: 992px) {
            font-size: 3rem;
            line-height: 1.5em;
          }
          @media screen and (min-width: 1200px) {
            font-size: 3.5rem;
            line-height: 5rem;
          }
          @media screen and (min-width: 1400px) {
            font-size: 4rem;
            line-height: 6rem;
          }
        }

        &_quotes {
          margin-block: 1rem 1.5rem;
          @media screen and (min-width: 576px) {
            margin-block: 1rem 3rem;
          }
        }
      }

      &_right {
        & > img {
          width: 100%;
        }
      }
    }
  }
}
