@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap");
.container_main {
  padding: 0 1rem;
}
@media screen and (min-width: 576px) {
  .container_main {
    padding: 0 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .container_main {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .container_main {
    padding: 0 4rem;
  }
}
@media screen and (min-width: 1400px) {
  .container_main {
    padding: 0 6rem;
  }
}

/* -----------------------------------------FONT-WEIGHTS----------------------------------------- */
.fw_400 {
  font-weight: 400;
}

.fw_500 {
  font-weight: 500;
}

.fw_600 {
  font-weight: 600;
}

.fw_700 {
  font-weight: 700;
}

.primary_header {
  color: #008a37;
}

/*  TEXT VARIABLES */
.small_quotes {
  color: #454743;
  width: 100%;
  max-width: 35rem;
  font-size: 0.9rem;
  line-height: normal;
  letter-spacing: 0em;
}
@media screen and (min-width: 400px) {
  .small_quotes {
    font-size: 1.1rem;
    max-width: auto;
  }
}
@media screen and (min-width: 992px) {
  .small_quotes {
    line-height: 1.8rem;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .small_quotes {
    line-height: 2rem;
    font-size: 1.5rem;
  }
}
.small_quotes.hero {
  font-size: 1rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 576px) {
  .small_quotes.hero {
    max-width: 38rem;
    line-height: 2rem;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .small_quotes.hero {
    line-height: 1.8rem;
    color: #767873;
  }
}

.nav_btn {
  padding: 1rem 2rem;
  border: 1px solid #00ca54;
  border-radius: 6rem;
  background: #fff;
  font-weight: 700;
  font-size: 1.1rem;
  color: #00ca54;
}
.nav_btn.mobile {
  padding: 0.6rem 2.2rem;
  font-size: 1rem;
}
.nav_btn:hover {
  color: #fff;
  background: #00ca54;
}

/* FLEX_BOX VARIABLE */
.flex_box {
  display: grid;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 2rem 0;
  gap: 2rem;
}
@media screen and (min-width: 992px) {
  .flex_box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    margin: 4rem 0;
  }
}
.flex_box_header {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 5rem;
  letter-spacing: 0em;
}
@media screen and (min-width: 576px) {
  .flex_box_header {
    font-size: 2.7rem;
  }
}
@media screen and (min-width: 992px) {
  .flex_box_header {
    font-size: 3.5rem;
    line-height: 5rem;
  }
}

/* IMAGE BOX */
.image_box {
  padding: 0.5rem;
  position: relative;
}
@media screen and (min-width: 992px) {
  .image_box {
    padding: 0.8rem;
  }
}
.image_box .inner_box {
  border: 5px solid #00ca54;
  border-radius: 0.6rem;
  width: 9rem;
  height: 6rem;
  z-index: -1;
  position: absolute;
}
@media screen and (min-width: 576px) {
  .image_box .inner_box {
    width: 12rem;
    height: 9rem;
    border: 8px solid #00ca54;
    border-radius: 1rem;
  }
}
.image_box .inner_box.right {
  top: 0;
  right: 0;
}
.image_box .inner_box.left {
  left: 0;
  bottom: 0;
}
.image_box img {
  width: 100%;
  height: 100%;
  z-index: 10;
}

/* BUTTONS VARIABLES */
.btn_main {
  background: #00ca54;
  color: #fff;
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.1rem;
  width: 13rem;
  height: 3rem;
  max-width: 100%;
  margin: 2.2rem auto;
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  opacity: 0.8;
  cursor: pointer;
}
@media screen and (min-width: 576px) {
  .btn_main {
    width: 17rem;
  }
}
@media screen and (min-width: 992px) {
  .btn_main {
    width: 15rem;
    margin: 2.2rem 0;
  }
}
.btn_main > span {
  margin-top: 0.4rem;
  color: #fff;
}
.btn_main:hover {
  opacity: 1;
}

/* STYLES-SUMMARY NOTES
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;

*/
/* media screens */
/*
            @media screen and (min-width: 1800px) {


            }
              @media screen and (min-width: 1800px) {
            }
            @media screen and (min-width: 1400px) {

            }
             @media screen and (min-width: 1600px) {


            }

             @media screen and (min-width: 1200px) {

             }

     @media screen and (min-width: 992px) {

    }

    @media screen and (min-width: 768px) {

    }

        @media screen and (min-width: 576px) {

        } 

        @media screen and (min-width: 400px) {

        } 


        */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-style: normal;
  font-family: "Playfair Display", serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #1f1f1f;
}
input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #abaca6;
  font-size: 0.8rem;
  line-height: 1.2rem;
}
input::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #abaca6;
  font-size: 0.8rem;
  line-height: 1.2rem;
}

/* --------------------------------------HEADER-------------------------------------- */
header {
  position: relative;
  /* DROPDOWN MENU */
}
header .navbar {
  width: 100%;
  background: #fff;
  z-index: 200;
  position: fixed;
  box-shadow: 0px 2px 6px 2px rgba(0, 202, 84, 0.15);
  padding-right: 1rem;
}
@media screen and (min-width: 576px) {
  header .navbar {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 1200px) {
  header .navbar {
    padding: 0 4rem;
  }
}
@media screen and (min-width: 1400px) {
  header .navbar {
    padding: 0 6rem;
  }
}
header .navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media screen and (min-width: 992px) {
  header .navbar ul {
    gap: 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  header .navbar ul {
    gap: 2.5rem;
  }
}
header .navbar ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #1f1f1f;
}
header .navbar ul li:hover {
  color: #008a37;
  font-weight: 600;
  /* add animation on hover  */
}
header .navbar_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navbar_inner .nav_logo {
  width: 10rem;
  height: 4rem;
  position: relative;
  inset: 0 -1.8rem;
}
@media screen and (min-width: 992px) {
  header .navbar_inner .nav_logo {
    width: 12rem;
    height: 6rem;
  }
}
@media screen and (min-width: 1200px) {
  header .navbar_inner .nav_logo {
    inset: 0 -2.4rem;
  }
}
header .navbar_inner .nav_btn {
  padding: 1rem 2rem;
  border: 1px solid #00ca54;
  border-radius: 6rem;
  background: #fff;
  font-weight: 700;
  font-size: 1.1rem;
  color: #00ca54;
}
header .navbar_inner .nav_btn:hover {
  color: #fff;
  background: #00ca54;
}
header .navbar_inner .menu_items,
header .navbar_inner .nav_btn {
  display: none;
}
header .navbar_inner .toogle_btn {
  display: block;
  color: #000;
  font-size: 2rem;
  cursor: pointer;
  z-index: 100;
}
@media screen and (min-width: 992px) {
  header .navbar_inner .menu_items,
  header .navbar_inner .nav_btn {
    display: block;
  }
  header .navbar_inner .toogle_btn {
    display: none;
  }
}
header .dropdown_menu {
  position: absolute;
  top: 4.3rem;
  z-index: 10;
  border-radius: 1rem;
  padding: 1.54rem 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1rem;
  overflow: hidden;
  right: -50rem;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@media screen and (min-width: 576px) {
  header .dropdown_menu {
    width: 300px;
  }
}
@media screen and (max-width: 992px) {
  header .dropdown_menu {
    position: fixed;
  }
}
header .dropdown_menu.open {
  right: 0;
}
header .dropdown_menu ul {
  text-align: center;
  display: grid;
  gap: 1rem;
}
header .dropdown_menu ul li {
  cursor: pointer;
  color: #1f1f1f;
}
header .dropdown_menu ul li:hover {
  color: #008a37;
}
@media screen and (min-width: 992px) {
  header .dropdown_menu {
    display: none;
  }
}

main {
  position: relative;
  margin-top: 4.5rem;
}
@media screen and (min-width: 992px) {
  main {
    margin-top: 6rem;
  }
}
main .main_inner {
  /* -------------------------------------HERO SECTION------------------------------------- */
}
main .main_inner .hero_sec {
  width: 100vw;
  min-height: 80vh;
  background: #fff;
}
@media screen and (min-width: 992px) {
  main .main_inner .hero_sec {
    background: linear-gradient(-180deg, rgba(198, 255, 198, 0.13) 90%, rgb(255, 255, 255) 100%);
  }
}
main .main_inner .hero_sec_inner {
  display: grid;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 2rem 0;
  gap: 2.5rem;
}
@media screen and (min-width: 992px) {
  main .main_inner .hero_sec_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin: 4rem 0;
  }
}
main .main_inner .hero_left_header {
  font-size: 1.9rem;
  max-width: 38rem;
}
@media (min-width: 400px) and (max-width: 425px) {
  main .main_inner .hero_left_header {
    font-size: 2rem;
  }
}
@media screen and (min-width: 426px) and (max-width: 575px) {
  main .main_inner .hero_left_header {
    max-width: 35rem;
    font-size: 2.7rem;
  }
}
@media screen and (min-width: 576px) {
  main .main_inner .hero_left_header {
    font-size: 3.2rem;
  }
}
@media screen and (min-width: 992px) {
  main .main_inner .hero_left_header {
    font-size: 3rem;
    line-height: 1.5em;
  }
}
@media screen and (min-width: 1200px) {
  main .main_inner .hero_left_header {
    font-size: 3.5rem;
    line-height: 5rem;
  }
}
@media screen and (min-width: 1400px) {
  main .main_inner .hero_left_header {
    font-size: 4rem;
    line-height: 6rem;
  }
}
main .main_inner .hero_left_quotes {
  margin-block: 1rem 1.5rem;
}
@media screen and (min-width: 576px) {
  main .main_inner .hero_left_quotes {
    margin-block: 1rem 3rem;
  }
}
main .main_inner .hero_right > img {
  width: 100%;
}/*# sourceMappingURL=index.css.map */