@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap"); /*  MIXINS VARIABLES */
/*  */
.container_main {
  padding: 0 1rem;
}
@media screen and (min-width: 576px) {
  .container_main {
    padding: 0 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .container_main {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .container_main {
    padding: 0 4rem;
  }
}
@media screen and (min-width: 1400px) {
  .container_main {
    padding: 0 6rem;
  }
}

/* -----------------------------------------FONT-WEIGHTS----------------------------------------- */
.fw_400 {
  font-weight: 400;
}

.fw_500 {
  font-weight: 500;
}

.fw_600 {
  font-weight: 600;
}

.fw_700 {
  font-weight: 700;
}

.primary_header {
  color: #008a37;
}

/*  TEXT VARIABLES */
.small_quotes {
  color: #454743;
  width: 100%;
  max-width: 35rem;
  font-size: 0.9rem;
  line-height: normal;
  letter-spacing: 0em;
}
.small_quotes.white {
  color: #fff;
}
.small_quotes.center {
  text-align: center;
  width: 100%;
  max-width: 65rem;
  margin: 0 auto;
}
@media screen and (min-width: 400px) {
  .small_quotes {
    font-size: 1.1rem;
    max-width: auto;
  }
}
@media screen and (min-width: 992px) {
  .small_quotes {
    line-height: 1.8rem;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .small_quotes {
    line-height: 2rem;
    font-size: 1.5rem;
  }
}
.small_quotes.hero {
  font-size: 1rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 576px) {
  .small_quotes.hero {
    max-width: 38rem;
    line-height: 2rem;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .small_quotes.hero {
    line-height: 1.8rem;
    color: #767873;
  }
}

.text_white {
  color: #fff;
}

/* -------------------------------------BUTTONS VARIABLES -------------------------------------*/
.btn_main {
  background: #00ca54;
  color: #fff;
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.1rem;
  width: 13rem;
  height: 3rem;
  max-width: 100%;
  margin: 2.2rem auto;
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  opacity: 0.8;
  cursor: pointer;
}
.btn_main.form {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 576px) {
  .btn_main {
    width: 17rem;
  }
}
@media screen and (min-width: 992px) {
  .btn_main {
    width: 15rem;
    margin: 2.2rem 0;
  }
}
.btn_main > span {
  margin-top: 0.3em;
  color: #fff;
}
.btn_main:hover {
  opacity: 1;
}

/* ---------------------------NAV-BTN--------------------------- */
.nav_btn {
  padding: 1rem 2rem;
  border: 1px solid #00ca54;
  border-radius: 6rem;
  background: #fff;
  font-weight: 700;
  font-size: 1.1rem;
  color: #00ca54;
}
.nav_btn.mobile {
  padding: 0.6rem 2.2rem;
  font-size: 1rem;
}
.nav_btn:hover {
  color: #fff;
  background: #00ca54;
}

/*------------------------------ FLEX_BOX VARIABLE ------------------------------*/
.flex_box {
  display: grid;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 2rem 0;
  gap: 2rem;
}
.flex_box.reverse {
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (min-width: 992px) {
  .flex_box {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row !important;
    align-items: center;
    text-align: left;
    margin: 4rem 0;
  }
}
.flex_box_header {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 5rem;
  letter-spacing: 0em;
}
.flex_box_header.center {
  text-align: center;
}
@media screen and (min-width: 576px) {
  .flex_box_header {
    font-size: 2.7rem;
  }
}
@media screen and (min-width: 992px) {
  .flex_box_header {
    font-size: 3.5rem;
    line-height: 5rem;
  }
}

/* ---------------------------------IMAGE BOX--------------------------------- */
.image_box {
  padding: 0.5rem;
  position: relative;
}
@media screen and (min-width: 992px) {
  .image_box {
    padding: 0.8rem;
  }
}
.image_box .inner_box {
  border: 5px solid #00ca54;
  border-radius: 0.6rem;
  width: 9rem;
  height: 6rem;
  z-index: -1;
  position: absolute;
}
@media screen and (min-width: 576px) {
  .image_box .inner_box {
    width: 12rem;
    height: 9rem;
    border: 8px solid #00ca54;
    border-radius: 1rem;
  }
}
.image_box .inner_box.right {
  top: 0;
  right: 0;
}
.image_box .inner_box.left {
  left: 0;
  bottom: 0;
}
.image_box img {
  width: 100%;
  height: 100%;
  z-index: 10;
}

/* SLIDER ANIMATION */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* READ MORE TEXT */
.more {
  display: none;
}
@media screen and (min-width: 992px) {
  .more {
    display: block;
  }
}

/* DESKTOP MORE TEXT */
.box_more1, .box_more2, .box_more3, .box_more4, .box_more5, .box_more6 {
  display: none;
}

/*  */
/* LINK TEXT */
.link_text {
  text-decoration: underline;
}
.link_text.primary:hover {
  color: #00ca54;
}

/* ACTIVE LINKS */
.menu_lists li.active {
  color: #008a37;
  font-weight: 600;
}

/* --------------------------------ANIMATED SECTION-------------------------------- */
/* --------------------------------ANIMATED LOGO-------------------------------- */
.social_logos {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}
.social_logos ul {
  position: relative;
  display: flex;
  gap: 1rem;
}
@media screen and (min-width: 576px) {
  .social_logos ul {
    gap: 2.5rem;
  }
}
.social_logos ul li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 3.5rem;
  aspect-ratio: 1/1;
}
.social_logos ul li .fa {
  font-size: 2.5em;
  -webkit-text-stroke: 2px var(--clr);
  color: transparent;
  padding: 0.2rem;
}
.social_logos ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  border-bottom: 2px solid var(--clr);
  transition: 0.5s ease-in-out;
  font-family: fontAwesome;
  text-align: center;
  line-height: 3.5rem;
  font-size: 2.5em;
  color: var(--clr);
}
@media screen and (min-width: 576px) {
  .social_logos ul li::before {
    border-bottom: 4px solid var(--clr);
  }
}
.social_logos ul li:hover::before {
  height: 100%;
}
.social_logos ul li:nth-child(1)::before {
  content: "\f09a";
}
.social_logos ul li:nth-child(2)::before {
  content: "\f16d";
}
.social_logos ul li:nth-child(3)::before {
  content: "\f232";
}
.social_logos ul li:nth-child(4)::before {
  content: "\f099";
}

/* STYLES-SUMMARY NOTES
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;

*/
/* media screens */
/*
            @media screen and (min-width: 1800px) {


            }
              @media screen and (min-width: 1800px) {
            }
            @media screen and (min-width: 1400px) {

            }
             @media screen and (min-width: 1600px) {


            }

             @media screen and (min-width: 1200px) {

             }

     @media screen and (min-width: 992px) {

    }

    @media screen and (min-width: 768px) {

    }

        @media screen and (min-width: 576px) {

        } 

        @media screen and (min-width: 400px) {

        } 


        */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-style: normal;
  font-family: "Playfair Display", serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #1f1f1f;
}
input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #abaca6;
  font-size: 0.8rem;
  line-height: 1.2rem;
}
input::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #abaca6;
  font-size: 0.8rem;
  line-height: 1.2rem;
}

/* --------------------------------------HEADER-------------------------------------- */
header {
  position: relative;
  /* DROPDOWN MENU */
}
header .navbar {
  width: 100%;
  background: #fff;
  z-index: 200;
  position: fixed;
  box-shadow: 0px 2px 6px 2px rgba(0, 202, 84, 0.15);
  padding-right: 1rem;
}
@media screen and (min-width: 576px) {
  header .navbar {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 1200px) {
  header .navbar {
    padding: 0 4rem;
  }
}
@media screen and (min-width: 1400px) {
  header .navbar {
    padding: 0 6rem;
  }
}
header .navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media screen and (min-width: 992px) {
  header .navbar ul {
    gap: 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  header .navbar ul {
    gap: 2.5rem;
  }
}
header .navbar ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #1f1f1f;
}
header .navbar ul li:hover {
  color: #008a37;
  font-weight: 600;
  /* add animation on hover  */
}
header .navbar_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navbar_inner .nav_logo {
  width: 10rem;
  height: 4rem;
  position: relative;
  inset: 0 -1.8rem;
}
@media screen and (min-width: 992px) {
  header .navbar_inner .nav_logo {
    width: 12rem;
    height: 6rem;
  }
}
@media screen and (min-width: 1200px) {
  header .navbar_inner .nav_logo {
    inset: 0 -2.4rem;
  }
}
header .navbar_inner .nav_btn {
  padding: 1rem 2rem;
  border: 1px solid #00ca54;
  border-radius: 6rem;
  background: #fff;
  font-weight: 700;
  font-size: 1.1rem;
  cursor: pointer;
  color: #00ca54;
}
header .navbar_inner .nav_btn:hover {
  color: #fff;
  background: #00ca54;
}
header .navbar_inner .menu_items,
header .navbar_inner .nav_btn {
  display: none;
}
header .navbar_inner .toogle_btn {
  display: block;
  color: #000;
  font-size: 2rem;
  cursor: pointer;
  z-index: 100;
}
@media screen and (min-width: 992px) {
  header .navbar_inner .menu_items,
  header .navbar_inner .nav_btn {
    display: block;
  }
  header .navbar_inner .toogle_btn {
    display: none;
  }
}
header .dropdown_menu {
  position: absolute;
  top: 4.2rem;
  z-index: 100;
  border-radius: 1rem;
  padding: 1.54rem 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1rem;
  overflow: hidden;
  right: -50rem;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@media screen and (min-width: 576px) {
  header .dropdown_menu {
    width: 300px;
  }
}
@media screen and (max-width: 992px) {
  header .dropdown_menu {
    position: fixed;
  }
}
header .dropdown_menu.open {
  right: 0;
}
header .dropdown_menu ul {
  text-align: center;
  display: grid;
  gap: 1rem;
}
header .dropdown_menu ul li {
  cursor: pointer;
  color: #1f1f1f;
}
header .dropdown_menu ul li:hover {
  color: #008a37;
}
@media screen and (min-width: 992px) {
  header .dropdown_menu {
    display: none;
  }
}

main {
  position: relative;
  margin-top: 4.5rem;
}
@media screen and (min-width: 992px) {
  main {
    margin-top: 6rem;
  }
}
main .main_inner {
  /* -------------------------------------HERO SECTION------------------------------------- */
  /*----------------------------CHOOSE-US SECTION---------------------------- */
  /*---------------------------OUR-SERVICES SECTION---------------------------- */
  /*----------------------------CONTACT-US SECTION---------------------------- */
  /*---------------------------NEWS-UPDATE SECTION---------------------------- */
  /*---------------------------TEAM SECTION---------------------------- */
  /*---------------------------FOOTER SECTION---------------------------- */
}
main .main_inner .hero_sec {
  width: 100vw;
  min-height: 50vh;
  background: #fff;
}
@media screen and (min-width: 992px) {
  main .main_inner .hero_sec {
    background: linear-gradient(-180deg, rgba(198, 255, 198, 0.13) 90%, rgb(255, 255, 255) 100%);
  }
}
main .main_inner .hero_sec_inner {
  display: grid;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 2rem 0;
  gap: 2.5rem;
}
@media screen and (min-width: 992px) {
  main .main_inner .hero_sec_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    gap: 1rem;
  }
}
@media screen and (min-width: 992px) {
  main .main_inner .hero_left {
    margin-top: 4rem;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
}
main .main_inner .hero_left_header {
  font-size: 1.9rem;
  max-width: 38rem;
}
@media (min-width: 400px) and (max-width: 425px) {
  main .main_inner .hero_left_header {
    font-size: 2rem;
  }
}
@media screen and (min-width: 426px) and (max-width: 575px) {
  main .main_inner .hero_left_header {
    max-width: 35rem;
    font-size: 2.7rem;
  }
}
@media screen and (min-width: 576px) {
  main .main_inner .hero_left_header {
    font-size: 3.2rem;
  }
}
@media screen and (min-width: 992px) {
  main .main_inner .hero_left_header {
    font-size: 3rem;
    line-height: 1.5em;
  }
}
@media screen and (min-width: 1200px) {
  main .main_inner .hero_left_header {
    font-size: 3.5rem;
    line-height: 5rem;
  }
}
@media screen and (min-width: 1400px) {
  main .main_inner .hero_left_header {
    font-size: 4rem;
    line-height: 6rem;
  }
}
main .main_inner .hero_left_quotes {
  margin-block: 1rem 1.5rem;
}
@media screen and (min-width: 576px) {
  main .main_inner .hero_left_quotes {
    margin-block: 1rem 3rem;
  }
}
main .main_inner .hero_right {
  overflow: none;
  position: relative;
}
@media screen and (min-width: 992px) {
  main .main_inner .hero_right {
    height: 100%;
    width: 100%;
    max-width: 40vw;
  }
}
@media screen and (min-width: 1200px) {
  main .main_inner .hero_right {
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
}
main .main_inner .hero_right .icon {
  /* ALL ICONS */
}
main .main_inner .hero_right .icon_1, main .main_inner .hero_right .icon_2, main .main_inner .hero_right .icon_3 {
  width: 2rem;
  aspect-ratio: 1/1;
}
@media screen and (min-width: 400px) {
  main .main_inner .hero_right .icon_1, main .main_inner .hero_right .icon_2, main .main_inner .hero_right .icon_3 {
    width: 2.5rem;
  }
}
@media screen and (min-width: 576px) {
  main .main_inner .hero_right .icon_1, main .main_inner .hero_right .icon_2, main .main_inner .hero_right .icon_3 {
    width: -moz-fit-content;
    width: fit-content;
  }
}
main .main_inner .hero_right .icon_1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  animation: animateHeroDesktop 7s ease-in-out infinite;
}
@media screen and (min-width: 992px) {
  main .main_inner .hero_right .icon_1 {
    animation: animateIcon1 7s ease-in-out infinite;
  }
}
main .main_inner .hero_right .icon_2 {
  position: absolute;
  animation: animateHero 7s ease-in-out infinite;
  z-index: 10;
  left: 0;
  bottom: 5rem;
}
@media screen and (min-width: 576px) {
  main .main_inner .hero_right .icon_2 {
    bottom: 10rem;
  }
}
main .main_inner .hero_right .icon_3 {
  position: absolute;
  animation: animateHeroDesktop 7s ease-in-out infinite;
  bottom: 0rem;
  right: 6rem;
  z-index: 10;
}
@media screen and (min-width: 992px) {
  main .main_inner .hero_right .icon_3 {
    right: 7rem;
  }
}
main .main_inner .hero_right_inner {
  overflow: hidden;
  margin: 0.8rem;
  padding: 1rem;
}
@media screen and (min-width: 400px) {
  main .main_inner .hero_right_inner {
    margin: 1rem;
    padding: 1rem;
  }
}
@media screen and (min-width: 768px) {
  main .main_inner .hero_right_inner {
    margin: 2rem 0;
    padding: 0 2rem;
    max-width: 100%;
  }
}
main .main_inner .hero_right_inner img {
  width: 100%;
  animation: animateHero 8s ease-in-out infinite;
}
@media screen and (min-width: 992px) {
  main .main_inner .hero_right_inner img {
    animation: animateHeroDesktop 8s ease-in-out infinite;
  }
}
@media screen and (min-width: 1200px) {
  main .main_inner .hero_right_inner img {
    min-height: 30rem;
  }
}
@keyframes animateHero {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(15px);
  }
}
@keyframes animateHeroDesktop {
  0%, 100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(18px);
  }
}
@keyframes animateIcon1 {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
}
main .main_inner .choose_us_sec .contents_list {
  display: grid;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  main .main_inner .choose_us_sec .contents_list {
    margin-top: 0.5rem;
  }
}
main .main_inner .choose_us_sec .contents_header {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0em;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  color: #1f1f1f;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
@media screen and (min-width: 992px) {
  main .main_inner .choose_us_sec .contents_header {
    font-size: 1.7rem;
    line-height: 3rem;
  }
}
@media screen and (min-width: 992px) {
  main .main_inner .choose_us_sec .contents_header {
    gap: 1rem;
  }
}
main .main_inner .choose_us_sec .contents_header .green_dot {
  background: #008a37;
  width: 1rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
main .main_inner .choose_us_sec .contents_quotes {
  margin: 0.3rem 0;
  text-align: left;
}
main .main_inner .choose_us_sec .contents_more_btn {
  font-family: "Montserrat", sans-serif;
  color: #008a37;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 0.25px;
  cursor: pointer;
  margin-block: 1rem 3rem;
}
@media screen and (min-width: 992px) {
  main .main_inner .choose_us_sec .contents_more_btn {
    font-size: 1.1rem;
  }
}
main .main_inner .choose_us_sec .contents_more_btn span {
  margin-top: 0.3em;
  color: #fff;
  color: #008a37;
}
main .main_inner .section_services_bottom {
  margin: 2rem 0;
}
main .main_inner .section_services_flexbox {
  width: 100%;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
@media screen and (min-width: 576px) {
  main .main_inner .section_services_flexbox {
    padding: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  main .main_inner .section_services_flexbox {
    gap: 1.2rem;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  main .main_inner .section_services_flexbox {
    gap: 1.5rem;
  }
}
main .main_inner .section_services_flexbox .box {
  border-radius: 1rem;
  width: 100%;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: 100%;
  min-height: 46vh;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  cursor: pointer;
}
main .main_inner .section_services_flexbox .box:hover {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
main .main_inner .section_services_flexbox .box:nth-child(1) {
  background: #fff;
}
main .main_inner .section_services_flexbox .box:nth-child(2) {
  background: #d0f8ff;
}
main .main_inner .section_services_flexbox .box:nth-child(3) {
  background: linear-gradient(0deg, rgba(0, 110, 42, 0.05), rgba(0, 110, 42, 0.05)), #fcfdf7;
}
main .main_inner .section_services_flexbox .box_inner {
  padding: 1rem;
  text-align: center;
}
@media screen and (min-width: 992px) {
  main .main_inner .section_services_flexbox .box_inner {
    text-align: left;
  }
}
main .main_inner .section_services_flexbox .box_header {
  font-family: "Montserrat", sans-serif;
  color: #008a37;
  font-size: 1.6rem;
  line-height: 3.2rem;
  font-weight: 600;
}
@media screen and (min-width: 576px) {
  main .main_inner .section_services_flexbox .box_header {
    font-size: 2rem;
    line-height: 4rem;
  }
}
main .main_inner .section_services_flexbox .box_quotes {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #1f1f1f;
  width: 100%;
  max-width: 22rem;
  min-height: 11rem;
  height: 100%;
  font-weight: 400;
}
@media screen and (min-width: 992px) {
  main .main_inner .section_services_flexbox .box_quotes {
    font-weight: 500;
  }
}
main .main_inner .section_services_flexbox .box .header_flex {
  font-family: "Montserrat", sans-serif;
  color: #008a37;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 0.25px;
  cursor: pointer;
  margin-block: 1rem 3rem;
}
@media screen and (min-width: 992px) {
  main .main_inner .section_services_flexbox .box .header_flex {
    justify-content: flex-start;
    font-size: 1.1rem;
  }
}
main .main_inner .section_services_flexbox .box .header_flex span {
  margin-top: 0.3em;
  color: #fff;
  color: #008a37;
}
main .main_inner .section_services_flexbox .box_img {
  max-width: 100%;
  margin: 0 auto;
}
main .main_inner .section_services_flexbox .box_img img {
  width: 100%;
}
@media screen and (min-width: 992px) {
  main .main_inner .form_left {
    width: 100%;
  }
}
main .main_inner .form_left form {
  width: 100vw;
  display: grid;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 700px) {
  main .main_inner .form_left form {
    max-width: 45rem;
  }
}
@media screen and (min-width: 992px) {
  main .main_inner .form_left form {
    width: 48vw;
  }
}
@media screen and (min-width: 1400px) {
  main .main_inner .form_left form {
    gap: 1.8rem;
  }
}
main .main_inner .form_left form input {
  height: 3rem;
  width: 100vw;
  border-radius: 4px;
  padding: 0.5rem;
  border: none;
  outline: none;
  background: #edeff3;
}
main .main_inner .form_left form input::-moz-placeholder {
  color: #767873;
  font-family: Roboto;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
main .main_inner .form_left form input::placeholder {
  color: #767873;
  font-family: Roboto;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
main .main_inner .form_left form textarea {
  height: -moz-max-content;
  height: max-content;
  border-radius: 4px;
  padding: 0.5rem;
  border: none;
  outline: none;
  background: #edeff3;
}
main .main_inner .form_left form textarea::-moz-placeholder {
  color: #767873;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
}
main .main_inner .form_left form textarea::placeholder {
  color: #767873;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
}
main .main_inner .form_right {
  max-width: 100%;
}
@media screen and (min-width: 992px) {
  main .main_inner .form_right {
    width: 100%;
  }
}
main .main_inner .form_right img {
  width: 100%;
}
main .main_inner .news_update_sec_inner {
  display: grid;
  height: 100%;
  width: 100%;
  text-align: center;
  color: #fff;
}
@media screen and (min-width: 992px) {
  main .main_inner .news_update_sec_inner {
    display: flex;
    text-align: left;
  }
}
main .main_inner .news_left {
  background: #323638;
  height: 100%;
  padding: 1rem;
  display: grid;
  gap: 0.8em;
}
@media screen and (min-width: 576px) {
  main .main_inner .news_left {
    padding: 2.5rem 1rem;
  }
}
@media screen and (min-width: 992px) {
  main .main_inner .news_left {
    width: 65%;
    height: 30rem;
    gap: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
main .main_inner .news_header {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0em;
  width: 100%;
  margin: 0 auto;
  max-width: 18rem;
  text-align: center;
}
@media screen and (min-width: 992px) {
  main .main_inner .news_header {
    line-height: normal;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 40rem;
  }
}
@media screen and (min-width: 992px) and (min-width: 992px) {
  main .main_inner .news_header {
    font-size: 2rem;
  }
}
main .main_inner .news_quotes {
  width: 100%;
  max-width: 30rem;
  margin-block: 0 1rem;
}
@media screen and (min-width: 992px) {
  main .main_inner .news_quotes {
    max-width: 40rem;
    text-align: left;
  }
}
main .main_inner .news_input {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  height: 2.5rem;
  width: 100%;
  border-radius: 1rem;
  padding: 0.2rem;
  margin: 0 auto;
  max-width: 35rem;
}
@media screen and (min-width: 576px) {
  main .main_inner .news_input {
    height: 3.5rem;
  }
}
@media screen and (min-width: 992px) {
  main .main_inner .news_input {
    max-width: 40rem;
    height: 4rem;
  }
}
main .main_inner .news_input input {
  border: none;
  outline: none;
  background: transparent;
  padding: 0 0.8rem;
}
main .main_inner .news_input input::-moz-placeholder {
  color: #767873;
  font-family: Roboto;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
main .main_inner .news_input input::placeholder {
  color: #767873;
  font-family: Roboto;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
@media screen and (min-width: 576px) {
  main .main_inner .news_input input::-moz-placeholder {
    font-size: 1.1rem;
  }
  main .main_inner .news_input input::placeholder {
    font-size: 1.1rem;
  }
}
main .main_inner .news_btn {
  border-radius: 1rem;
  border: none;
  outline: none;
  background: #00ca54;
  color: #fff;
  font-weight: 600;
  padding: 0 1.2rem;
  display: flex;
  font-size: 0.8rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.8;
}
@media screen and (min-width: 400px) {
  main .main_inner .news_btn {
    padding: 0 10%;
  }
}
@media screen and (min-width: 576px) {
  main .main_inner .news_btn {
    font-size: 1.1rem;
  }
}
main .main_inner .news_btn:hover {
  opacity: 1;
}
main .main_inner .news_right {
  display: none;
}
@media screen and (min-width: 992px) {
  main .main_inner .news_right {
    display: block;
    max-width: 100%;
  }
}
main .main_inner .news_right img {
  width: 100%;
}
@media screen and (min-width: 992px) {
  main .main_inner .news_right img {
    max-width: 100%;
    height: 30rem;
  }
}
main .main_inner .team_sec {
  background: #323638;
  color: #fff;
  margin: 3rem 0;
}
@media screen and (min-width: 992px) {
  main .main_inner .team_sec {
    padding: 2.5rem;
  }
}
main .main_inner .team_sec_header {
  margin-bottom: 1rem;
}
@media screen and (min-width: 992px) {
  main .main_inner .team_sec_header {
    margin-bottom: 1.5rem;
  }
}
main .main_inner .team_slides {
  width: 100%;
}
main .main_inner .team_slides .slides {
  margin: 1rem 0;
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 20rem;
  min-height: 20rem;
  background: #fff;
  color: #1f1f1f;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  main .main_inner .team_slides .slides {
    min-width: 100%;
    padding: 2rem;
    max-height: 22rem;
  }
}
main .main_inner .team_slides .slides_inner {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 992px) {
  main .main_inner .team_slides .slides_inner {
    display: flex;
    gap: 1rem;
    width: 100%;
    max-width: 100%;
    overflow: unset;
    justify-content: flex-start;
  }
}
main .main_inner .team_slides .slides_top {
  width: 100%;
}
@media screen and (min-width: 992px) {
  main .main_inner .team_slides .slides_top {
    min-width: 20rem;
  }
}
main .main_inner .team_slides .slides_top img {
  width: 100%;
  height: 100%;
  max-height: 18rem;
}
@media screen and (min-width: 992px) {
  main .main_inner .team_slides .slides_top img {
    height: 100%;
    max-width: 20rem;
  }
}
main .main_inner .team_slides .slides_bottom {
  padding: 0.4rem;
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  main .main_inner .team_slides .slides_bottom {
    min-width: 100%;
    padding: 0;
    margin: 0;
  }
}
main .main_inner .team_slides .slides_bottom_header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
@media screen and (min-width: 992px) {
  main .main_inner .team_slides .slides_bottom_header {
    justify-content: flex-start;
  }
}
main .main_inner .team_slides .slides_bottom_header_dot {
  background: #002108;
  width: 0.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
main .main_inner .team_slides .slides_bottom .team_name {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  color: #1f1f1f;
}
@media screen and (min-width: 992px) {
  main .main_inner .team_slides .slides_bottom .team_name {
    font-size: 2rem;
    line-height: 3rem;
  }
}
main .main_inner .team_slides .slides_bottom .team_role {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  color: #525252;
}
main .main_inner .team_slides .slides_bottom_quotes {
  font-size: 0.8rem;
  color: #3d3d3d;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 0em;
  text-align: center;
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  main .main_inner .team_slides .slides_bottom_quotes {
    min-width: 55vw;
    line-height: 1.1rem;
    margin: 0;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  main .main_inner .team_slides .slides_bottom_quotes {
    min-width: 60vw;
    line-height: 1.2rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 1400px) {
  main .main_inner .team_slides .slides_bottom_quotes {
    line-height: 1.3rem;
  }
}
main .main_inner .team_slides .slides_bottom .read_more_sec {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  color: #00ca54;
  gap: 0.5rem;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 2rem;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  main .main_inner .team_slides .slides_bottom .read_more_sec {
    display: none;
  }
}
main .main_inner .team_slides .slides_bottom .read_more_sec span {
  display: grid;
  align-items: center;
}
main .main_inner .team_navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}
@media screen and (min-width: 992px) {
  main .main_inner .team_navigation {
    margin-top: 3rem;
    gap: 5rem;
  }
}
main .main_inner .team_navigation_icon {
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
main .main_inner .team_navigation_dot {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  inset: -0.2rem 0;
  gap: 0.5rem;
}
@media screen and (min-width: 992px) {
  main .main_inner .team_navigation_dot {
    gap: 1rem;
  }
}
main .main_inner .team_navigation_dot .dot {
  cursor: pointer;
  width: 0.6rem;
  aspect-ratio: 1/1;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.6s;
}
main .main_inner .team_navigation_dot .dot:hover, main .main_inner .team_navigation_dot .dot.active {
  background: #00ca54;
}
main .main_inner .footer {
  background: #323638;
  color: #fff;
}
main .main_inner .footer_inner {
  padding: 1.5rem 0;
}
@media screen and (min-width: 992px) {
  main .main_inner .footer_inner {
    padding: 3rem 0;
  }
}
main .main_inner .footer_desktop_top {
  display: none;
}
@media screen and (min-width: 992px) {
  main .main_inner .footer_desktop_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
main .main_inner .footer_top {
  display: grid;
  align-items: center;
  gap: 2.5rem;
}
@media screen and (min-width: 576px) {
  main .main_inner .footer_top {
    display: flex;
    align-items: flex-start;
    gap: 4rem;
  }
}
@media screen and (min-width: 992px) {
  main .main_inner .footer_top {
    justify-content: space-around;
  }
}
main .main_inner .footer_top .quick_links > ul {
  display: grid;
  gap: 0.5rem;
}
@media screen and (min-width: 992px) {
  main .main_inner .footer_top .quick_links > ul {
    gap: 1rem;
  }
}
main .main_inner .footer_top .quick_links > ul li {
  font-weight: 500;
  font-size: 0.8rem;
}
@media screen and (min-width: 992px) {
  main .main_inner .footer_top .quick_links > ul li {
    font-size: 1rem;
  }
}
main .main_inner .footer_top .quick_links > ul li:hover {
  color: #00ca54;
}
main .main_inner .footer_top .keep_in_touch > ul {
  display: grid;
  gap: 0.5rem;
}
@media screen and (min-width: 992px) {
  main .main_inner .footer_top .keep_in_touch > ul {
    gap: 1em;
  }
}
main .main_inner .footer_top .keep_in_touch > ul li {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  gap: 0.5rem;
  font-size: 0.8rem;
}
@media screen and (min-width: 992px) {
  main .main_inner .footer_top .keep_in_touch > ul li {
    font-size: 1rem;
    gap: 1rem;
  }
}
main .main_inner .footer_top .keep_in_touch > ul li .social_name {
  font-weight: 600;
}
main .main_inner .footer_header {
  font-size: 1.2rem;
  margin-block: 0 1rem;
}
@media screen and (min-width: 992px) {
  main .main_inner .footer_header {
    font-size: 1.6rem;
    margin-block: 0 2rem;
  }
}
@media screen and (min-width: 992px) {
  main .main_inner .footer_mobile_sec {
    display: none;
  }
}
main .main_inner .footer_line {
  border: 1px solid #fff;
  opacity: 0.15;
  margin: 3rem 0;
}
main .main_inner .footer_line.desktop {
  display: none;
}
@media screen and (min-width: 992px) {
  main .main_inner .footer_line.desktop {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  main .main_inner .footer_line {
    margin: 5rem 0;
  }
}/*# sourceMappingURL=index.css.map */